<div class="container-fluid">
    <div class="row mb-4">
        <div class="col">
            <h3 class="mb-2">{{name}}</h3>
            <div id="block-design-ideas-content">
                {{{content}}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Div to align the button to the right -->
            <div class="float-end w-10">
                <button type="button"
                        class="btn btn-outline-info block-design-ideas-btn-copy-to-clipboard mt-2 w-100"
                        title="{{#str}}copy_to_clipboard, block_design_ideas{{/str}}">
                    <i class="fa fa-clipboard"></i>
                </button>
            </div>
        </div>
    </div>
</div>