<div class="container-fluid">
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <h3 class="card-header mb-2">{{#str}}pluginname, block_design_ideas{{/str}}</h3>
                <div class="card-body">
                    <div class="message">
                        {{{message}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>