<input type="hidden" id="ai-policy-status" value="{{ai_policy_status}}">
<input type="hidden" id="userid" value="{{userid}}">
<input type="hidden" id="contextid" value="{{course_contextid}}">

<!--AI Policy must be accepted-->
{{#ai_policy_status}}
    {{#ai_placement_editor_enabled}}
        <div class="alert alert-info" role="alert">
            <p>
                {{#str}}instructions, block_design_ideas{{/str}}
            </p>

        </div>
        {{#course_sumamry}}
            {{{block_buttons}}}
        {{/course_sumamry}}
        {{^course_sumamry}}
            <div class="alert alert-danger" role="alert">
                <p>
                    {{#str}}no_course_summary, block_design_ideas, {{config.wwwroot}}
                        /course/edit.php?id={{courseid}}{{/str}}
                </p>
            </div>
        {{/course_sumamry}}
    {{/ai_placement_editor_enabled}}

    {{^ai_placement_editor_enabled}}
        <div class="alert alert-danger" role="alert">
            <p>
                {{#str}}ai_placement_editor_disabled, block_design_ideas{{/str}}
            </p>
        </div>
    {{/ai_placement_editor_enabled}}
{{/ai_policy_status}}

{{^ai_policy_status}}
    <div class="alert alert-danger" role="alert">
        <p>
            {{#str}}ai_policy_not_accepted, block_design_ideas{{/str}}
        </p>
    </div>
{{/ai_policy_status}}


<script>
    let wwwroot = M.cfg.wwwroot;
    console.log(wwwroot);
    const buttons = document.querySelectorAll('.btn-ai-call');

    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function () {
            let data = this.dataset;
            let query_string = [];
            for (let key in data) {
                query_string.push(encodeURIComponent(key) + '=' + encodeURIComponent(data[key]));
            }
            console.log(query_string.join('&'));

            window.open(wwwroot + '/blocks/design_ideas/ai_call.php?'
                    + query_string.join('&'),
                    'second-opinion', 'width=700,height=800');
        });
    }
</script>