<div id="btn-design_ideas-topics" class="btn-group mt-2 w-100" role="group">
    <div class="btn-group w-100" role="group">
        <button type="button"
                class="btn btn-outline-info dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            {{#str}}course_topics, block_design_ideas{{/str}}
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item">
                <div class="alert alert-warning ml-1 mr-1 mb-0">
                    {{#str}}course_topics_help, block_design_ideas{{/str}}
                </div>
            </li>
            <li class="dropdown-item">
                <a href="#"
                   class="block-design-ideas-btn-ai-call-course-topics"
                   data-prompt_id="{{promptid}}"
                   data-topics="13"
                   data-course_id="{{courseid}}">
                    {{#str}}create_13_sections, block_design_ideas{{/str}}
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#"
                   class="block-design-ideas-btn-ai-call-course-topics"
                   data-prompt_id="{{promptid}}"
                   data-topics="24"
                   data-course_id="{{courseid}}">
                    {{#str}}create_24_sections, block_design_ideas{{/str}}
                </a>
            </li>
        </ul>
    </div>
</div>