<div class="container-fluid">
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <h3 class="card-header mb-2">{{#str}}
                    pluginname, block_design_ideas{{/str}} - {{#str}}course_summary, block_design_ideas{{/str}}</h3>
                <div class="card-body">
                    <div class="message">
                        {{{message}}}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group float-right" role="group">
                        <button
                                id="btn-save-course-summary"
                                type="button"
                                class="btn btn-outline-primary"
                                data-replace="all"
                                data-course_id="{{course_id}}">
                            {{#str}}save_course_summary, block_design_ideas{{/str}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const loader = document.querySelector('.loader');
    setTimeout(function () {
        // loader.style.display = 'none';
        loader.parentNode.removeChild(loader);
    }, 1);
    const save_course_summary_button = document.getElementById('btn-save-course-summary');
    console.log(save_course_summary_button);
    save_course_summary_button.addEventListener('click', function () {
        const courseId = save_course_summary_button.getAttribute('data-course_id');
        const url = M.cfg.wwwroot + '/blocks/design_ideas/save_course_summary.php';
        console.log(`${url}?courseid=${courseId}`);
        fetch(`${url}?courseid=${courseId}`)
                .then(response => response.json())
                .then(data => {
                            console.log(data)
                            if (data.status === 'success') {
                                // Close the current window
                                window.close();
                                // Refresh the parent window
                                window.opener.location.reload();
                            } else {
                                alert('Error saving course summary');
                            }
                        }
                )
                .catch(error => console.error(error));
    });

</script>