<div class="row mb-4">
    <div class="col">
        <div id="block-design-ideas-content" class="content">
            {{{content}}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="float-end w-40">
            <button
                    id="block-design-ideas-btn-create-learning-outcomes"
                    type="button"
                    class="btn btn-outline-primary block-design-ideas-btn-create-learning-outcomes"
                    data-section="0"
                    data-course_id="{{course_id}}">
                {{#str}}create_learning_outcomes, block_design_ideas{{/str}}
            </button>
        </div>
    </div>
</div>
