<button type="button"
        class="btn btn-outline-info block-design-ideas-btn-ai-call-learning-outcomes mt-2 w-100"
        data-prompt_id="{{promptid}}"
        data-course_id="{{courseid}}">
    {{#str}}learning_outcomes, block_design_ideas{{/str}}
</button>



