<style>
    .bdi-form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: .9375rem;
        font-weight: 400;
        line-height: 1.5;
        border: 1px solid #8f959e;
        border-radius: 10px;
        z-index: auto !important;
    }

    .bdi-form-select {
        display: block;
        width: 50%;
        padding: .375rem 2.25rem .375rem .75rem;
        border:  1px solid #8f959e;
        border-radius: 10px;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
        z-index: auto !important;
    }
</style>
<!--
<div class="row">
    <div class="col">
        <div class="alert alert-info">
            {{#str}}question_instructions, block_design_ideas{{/str}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <form>
            <div class="mb-3">
                <label for="block-design-ideas-content">{{#str}}content, block_design_ideas{{/str}}</label>
                <textarea id="block-design-ideas-content"
                          name="content"
                          class="bdi-form-control"
                          rows="5">{{{content}}}</textarea>
            </div>
            <div class="mb-3">
                <label for="block-design-ideas-question-type">{{#str}}question_type, block_design_ideas{{/str}}</label>
                <select id="block-design-ideas-question-type" name="question_type" class="bdi-form-select">
                    {{#question_types}}
                        <option value="{{value}}">{{{name}}}</option>
                    {{/question_types}}
                </select>
            </div>
            <div class="mb-3">
                <button id="block-design-ideas-btn-generate"
                        type="button"
                        class="btn btn-outline-primary"
                        data-course_id="{{courseid}}">
                    {{#str}}generate, block_design_ideas{{/str}}
                </button>
            </div>
        </form>
    </div>
</div>
-->
<div class="row">
    <div class="col">
        <div class="mb-3">
        {{{form}}}
        </div>
        <div class="mb-3">
            <button id="block-design-ideas-btn-generate"
                    type="button"
                    class="btn btn-outline-primary"
                    data-course_id="{{courseid}}">
                {{#str}}generate, block_design_ideas{{/str}}
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="block-design-ideas-generated-questions"></div>
    </div>
</div>