<div id="btn-design_ideas-topics" class=" btn-group mt-2 w-100" role="group">
    <button id="btnQuizGroupDrop1" type="button" class="btn btn-outline-info dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
        {{#str}}questions, block_design_ideas{{/str}}
    </button>
    <ul class="dropdown-menu">
        {{#buttons}}
            <li class="dropdown-item">
                <a href="#"
                   class="block-design-ideas-btn-ai-call-questions"
                   data-prompt_id="{{promptid}}"
                   data-topic_id="{{topicid}}"
                   data-course_id="{{courseid}}">
                    {{topic_name}}
                </a>
            </li>
        {{/buttons}}
    </ul>
</div>


