<style>
    #create-question-buttons {
        display: none;
    }
</style>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <h3 class="card-header mb-2">{{#str}}pluginname, block_design_ideas{{/str}} - {{#str}}quiz_questions, block_design_ideas{{/str}}</h3>
                <div class="card-body">
                    <div class="message">
                        {{{message}}}
                    </div>
                </div>
            <div class="card-footer">
                <div id="generate-questions-buttons" class="mt-3 float-right">
                    <button
                            class="btn btn-outline-primary btn-genertate-questions"
                            data-course_id="{{course_id}}"
                            data-prompt_id="{{prompt_id}}">
                        {{#str}}generate_questions, block_design_ideas{{/str}}
                    </button>
                </div>

                <div id="create-question-buttons" class="mt-3 float-right">
                    <button
                            class="btn btn-outline-primary btn-create-quiz-questions"
                            data-course_id="{{course_id}}">
                        {{#str}}create_quiz_questions, block_design_ideas{{/str}}
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    const loader = document.querySelector('.loader');
    setTimeout(function () {
        // loader.style.display = 'none';
        loader.parentNode.removeChild(loader);
    }, 1);
    // When btn-generate-questions button is clicked, capture the contents of available-file elements and send to PHP page
    const generate_questions_button = document.querySelector('.btn-genertate-questions');
    generate_questions_button.addEventListener('click', function () {
        // Change the button text to a spinner
        generate_questions_button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Generating Questions...';
        const available_files = document.querySelectorAll('.available-file');
        const course_id = generate_questions_button.getAttribute('data-course_id');
        const prompt_id = generate_questions_button.getAttribute('data-prompt_id');
        const url = M.cfg.wwwroot + '/blocks/design_ideas/generate_questions.php';
        const files = [];
        available_files.forEach(function (file) {
            if (file.checked) {
                files.push({
                    path: file.getAttribute('data-path'),
                    course_id: file.getAttribute('data-course_id'),
                    prompt_id: file.getAttribute('data-prompt_id'),
                    file_type: file.getAttribute('data-file_type'),
                    file_name: file.getAttribute('data-file_name')
                });
            }
        });
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                course_id: course_id,
                prompt_id: prompt_id,
                files: files
            })
        })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        // Load the html content of the returned results inn the message element
                        const message = document.querySelector('.message');
                        message.innerHTML = data.message;
                    } else {
                        alert('Error generating questions');
                    }
                })
                .catch(error => console.error(error));
    });

    // When btn-create-quiz-questions button is clicked, capture the contents of available-questions elements and send to PHP page
    const create_quiz_questions_button = document.querySelector('.btn-create-quiz-questions');
    create_quiz_questions_button.addEventListener('click', function () {
        console.log('I clicked the button');
        const available_questions = document.querySelectorAll('.available-questions');
        const course_id = create_quiz_questions_button.getAttribute('data-course_id');
        const url = M.cfg.wwwroot + '/blocks/design_ideas/create_quiz_questions.php';
        const questions = [];
        available_questions.forEach(function (question) {
            if (question.checked) {
                questions.push({
                    question: question.getAttribute('data-question'),
                    answer1: question.getAttribute('data-answer1'),
                    answer2: question.getAttribute('data-answer2'),
                    answer3: question.getAttribute('data-answer3'),
                    answer4: question.getAttribute('data-answer4'),
                    correct_answer: question.getAttribute('data-correct_answer')
                });
            }
        });
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                course_id: course_id,
                questions: questions
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.status === 'success') {
                    //Close this window and refresh the parent window
                    window.opener.location.reload();
                    window.close();
                } else {
                    alert('Error creating questions');
                }
            })
            .catch(error => console.error(error));
    });
</script>