<style>
    #create-question-buttons {
        display: block;
    }

    #generate-questions-buttons {
        display: none;
</style>
<div class="alert alert-info">
    {{#str}}create_quiz_questions_help, block_design_ideas{{/str}}
</div>
<ul class="list-group">
    {{#questions}}
        <li class="list-group-item">
            <input
                    type="checkbox"
                    class="available-questions"
                    data-question="{{question}}"
                    data-answer1="{{#answers}}{{answer1}}{{/answers}}"
                    data-answer2="{{#answers}}{{answer2}}{{/answers}}"
                    data-answer3="{{#answers}}{{answer3}}{{/answers}}"
                    data-answer4="{{#answers}}{{answer4}}{{/answers}}"
                    data-correct_answer="{{correct_answer}}"
            > {{question}}
            <ol>
                <li>{{#answers}}{{answer1}}{{/answers}}</li>
                <li>{{#answers}}{{answer2}}{{/answers}}</li>
                <li>{{#answers}}{{answer3}}{{/answers}}</li>
                <li>{{#answers}}{{answer4}}{{/answers}}</li>
            </ol>
            <br>
            Correct answer: {{correct_answer}}
            <br><br>
        </li>
    {{/questions}}
</ul>


<script>

</script>